{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medicaments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td><a href="{{ path('medicament_show', { 'id': medicament.id }) }}">{{ medicament.id }}</a></td>
                <td>{{ medicament.name }}</td>
                <td>{% if medicament.date %}{{ medicament.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ medicament.category }}</td>
                <td>{{ medicament.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medicament_show', { 'id': medicament.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medicament_edit', { 'id': medicament.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medicament_new') }}">Create a new medicament</a>
        </li>
    </ul>
{% endblock %}
